@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

body {
    margin: 0px;
}

header {
    background-color: black;

}

h1 {
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0px;
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 1em;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main article {
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
    padding: 40px;
    font-size: 3.3vw;
    line-height: 2em;
}

#atwo {
    color: white;
    background-image: url(../pacote-d012/imagens/background001.jpg);
    background-position: left top;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.774);

}

#ptwo {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    max-width: 38.5vw;
}

#afive {
    color: white;
    background-image: url(../pacote-d012/imagens/background002.jpg);
    background-position: left top;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.774);
}

#pfive {
    background-color: rgba(0, 0, 0, 0.479);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    max-width: 40vw;
}

footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer p {
    margin: 0px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}